#home-page .home-container {
    margin-inline: auto;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 20px 20px 115px 20px;
    display: flex;
    gap: 1rem;
    width: 88%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: var(--gradient-color);
    box-shadow: 0px 3.61424px 22.4674px rgba(0, 0, 0, 0.40);
  }

  #home-page p {
    font-size: 1rem;
  }

  #home-page h1 {
    font-size: 25px;
  }
  
  .home-img svg{
    min-width: 17.5rem;
    height: auto;
  }
  
  .home-button{
    width: 10rem;
    padding-block: 10px;
    font-size: 13px;
    color: var(--primary-color);
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .home-button:hover{
    color: #fff;
    border: 1px solid #fff;
    background: var(--gradient-color);
    filter:brightness(1.1);
  }
  
  .home-button:hover svg path{
    fill: #fff;
  }