*{
  margin: 0;
  padding: 0;
}

.background {
  width: 375px;
  height: auto;
  background: var(--gradient-color);

  margin-inline: auto;
  padding-inline: 38px;
  padding-block: 51px;
}

.img-desktop img {
  display: none;
}

.form {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 15px;
}

.form-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 45px;
  gap: 5px;
}

.logo {
  width: 34px;
}

.cyberRhino {
  width: 148px;
}

.campos {
  width: 100%;
  height: auto;
  padding-inline: 26px;
}

.campos .dados-pessoais {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.input {
  border: none;
  outline: 0;
  border-bottom: 1px solid #0960C1;
  width: 100%;
  height: 25px;

  font-weight: 400;
  font-size: 11px;

  padding-left: 5px;
  margin-bottom: 35px;
}

.focus-input::before {
  content: attr(data-placeholder);

  position: relative;
  top: 10px;

  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  padding: 0 5px;
  display: flex;
}

.btn-1 button {
  width: 170px;
  height: 46px;
  background: var(--gradient-color);
  border-radius: 33px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.btn-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}

.txt {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  gap: 3px;
  padding-bottom: 36px;
}

.txt a {
  color: #0960C1;
  text-decoration: underline;
}

@media( min-width: 1440px) {
  
}