footer{
    background: var(--gradient-color);
    margin-top: 4rem;
    padding-block: 1rem 2rem;
  }
  
  footer p {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    line-height: 2rem;
  }
  
  footer .logo svg {
    width: 218px;
    height: auto;
  }

  .column-expanded {
    display: none;
  }

  .footer-container {
    margin-left: 2rem;
  }

  .social-links{
    margin-top: 1rem;
  }

  @media (min-width: 1024px){
    .footer-container {
      margin: 0;
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      color: #fff;
  }

  footer h3 {
    font-size: 22px;
  }

  footer a, footer p{
    font-size: 14px;
  }

  .column-expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
  }

  .suport {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: flex-start;
  }

  .suport h3 {
    width: 100%;
    text-align: left;
  }

  .column .dados {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-block: 1rem;
  }

  .column .dado svg path{
    stroke: #fff;
  }

  .column a:hover{
    color: rgb(203, 231, 255);
  }

  }
