footer{
    background: var(--gradient-color);
    margin-top: 2rem;
    padding-block: 2rem;
  }
  
  footer p {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    line-height: 2rem;
  }
  
  footer svg {
    width: 218px;
    height: auto;
  }

  .footer-container {
      margin-left: 1rem;
  }