nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-block: 1.5rem;
}

.open-menu, .close-menu {
  border: none;
  background: none;
}

body.menu-expanded > ::not(nav){
  visibility: hidden;
}

.menu, .close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu{
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path[fill*='white']{
  fill: #0960C1;
}

body.menu-expanded .logo path[fill*='#0960C1']{
  fill: #fff;
}

body.menu-expanded {
  overflow: hidden;
}

.nav-button svg path{
  fill: #0960C1;
}

.nav-button:hover svg path{
  fill: #fff;
}

.nav-button a {
  margin-top: 2.5rem;
  color: #0960C1;
  font-size: 18px;
  background: #fff;
  padding: 1rem 2.5rem;
  border-radius: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  transition: background 200ms;
}

.nav-button a:hover {
  font-weight: unset;
  color: #fff;
  background: hsl(212, 91%, 20%);
}

body.menu-expanded ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  font-size: 23px;
  font-weight: 800;
  color: #fff;
}

body.menu-expanded .menu{
  position: fixed;
  top: 0;
  left: 0;
  background: var(--gradient-color);
  width: 100vw;
  height: 100vh;

  transition: transform 200ms;
  transform: translateY(0);
}

body.menu-expanded nav{
  position: relative;
  padding: 1rem 2rem 2rem 2rem;
}

nav .menu,
nav .close-menu{
    position: fixed;
}

.menu{
  transform: translateY(100%);
}
