nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-block: 1.4rem;
}

.nav-expanded, .nav-expanded ul{
  display: none;
}

.open-menu,
.close-menu {
  border: none;
  background: none;
}

body.menu-expanded .social-links {
  margin-top: 2rem;
}


body.menu-expanded> :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu,
body.menu-expanded .logo {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
  position: relative;
  z-index: 1000;
}

body .logo svg {
  width: 11rem;
  height: auto;
}

body.menu-expanded .logo path[fill*='white'] {
  fill: #0960C1;
}

body.menu-expanded .logo svg defs linearGradient stop {
  stop-color: #fff;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded .item a:hover {
  color: rgb(218, 218, 218);
}

.nav-button svg path {
  fill: #0960C1;
}

.nav-button:hover svg path {
  fill: #fff;
}

.nav-button a {
  height: 4rem;
  width: 13rem;
  margin-top: 2.5rem;
  color: #0960C1;
  font-size: 18px;
  background: #fff;
  border-radius: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: background 200ms;
}

.nav-button a:hover {
  font-weight: unset;
  color: #fff;
  background: hsl(212, 91%, 20%);
}

body.menu-expanded ul {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  padding: 3rem;
  font-size: 23px;
  font-weight: 800;
  color: #fff;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--gradient-color);
  width: 100vw;
  height: 100vh;

  transition: transform 200ms;
  transform: translateY(0);
}

body.menu-expanded nav {
  position: relative;
  padding: 1rem 2rem;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

.menu {
  transform: translateY(100%);
}

@media (min-width: 768px) {
  body.menu-expanded ul {
    font-size: 36px;
    gap: 4rem;
  }

  body.menu-expanded .nav-button a {
    width: 25rem;
    height: 6rem;
    gap: 2rem;
    font-size: 36px;
  }

  body.menu-expanded .nav-button svg {
    width: 3rem;
    height: auto;
  }

  body.menu-expanded .social-links-nav svg {
    width: 3rem;
    height: auto;
    margin-top: 3rem;
  }
}

@media (min-width: 1024px) {
  .open-menu{
    display: none;
  }

  .nav-expanded {
    display: flex;
  }

  .nav-expanded ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 60vw;
    margin: 0;
    color: var(--primary-color);
  }

  .nav-expanded .nav-button-expanded {
    margin: 0;
    padding: 0.7rem 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 200px;
  }

  .nav-expanded a:hover{
    font-weight: 800;
  }

  .nav-button-expanded:hover{
    color: #fff;
    background: var(--gradient-color);
  }

  .nav-button-expanded a:hover{
    color: #fff;
    font-weight: 500;
  }
}
