@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  --primary-color: hsl(212, 91%, 40%);
  --gradient-color: linear-gradient(266.4deg, #15BFE3 0%, #1523EC 100%);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

html a, a:hover {
  text-decoration: none;
  color: unset;
}

button {
  border: unset;
  background: unset;
}

#sections {
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 764px){
  #sections {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}

section h1, section h2 , section h3 , section h4, section h5 , section h6{
  font-weight: 800;
  margin-bottom: 0;
}

section p {
  font-weight: 500;
  margin: 0;
}

section h2 {
  font-size: 32px;
  text-align: unset;
}

section h4 {
  font-size: 13px;
  color: var(--primary-color);
  text-align: unset;
}

.col-a{
  grid-area: A;
}

.col-b{
  grid-area: B;
}

@media (min-width: 1024px){
  section h4 {
    font-size:18px;
  }

  section h2 {
    font-size: 36px;
  }

  section p{
    font-size: 16px;
  }
}